:80 {
    header {
        -Server
        -X-Powered-By
        Permissions-Policy "camera=(self), microphone=(), geolocation=()"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /sanctum/* {
        reverse_proxy backend:8000
    }

    handle /email/* {
        reverse_proxy backend:8000
    }

    handle /up {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}
